/* Global Styles */
:root {
  --color-background: #f9f9f9;
  --color-text: #4b2e24;
  --color-accent: #c6754d;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


html,body {
  font-family: 'Playfair Display', serif;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  min-height: 100vh;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 4rem; 
}

.section{
  height: 1000px;
}
/* Header Styles */
.header {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
 
}

.header .logo {
  width: 80px; 
  height: auto;
}
.nav {
  display: flex;
  align-items: center;  
  justify-content: center;  
  flex-wrap: wrap;
  gap: 2rem;  
}
.header .nav a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500; 
  transition: color 0.3s ease;
}

.header .nav a:hover {
  color: var(--color-accent);
}

/* Hero section styles */
.hero-image {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: 8rem;
  
}
.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center; 
  padding: 6rem;  
}
.hero-text p{
  color: var(--color-accent);
  font-size: 1.5rem; 
}

/* Our story section Styles */
#our-story{
width: 100%;
background-color: var(--color-accent);  
color: var(--color-background);
display: flex;
padding: 8rem;
}
.our-story-title{
  width: 30%;
  font-weight: 600;
  font-size: 4rem; 
  display: flex;
  text-align: center;
  flex-direction: column;
}
.our-story-text{
  width: 70%;
  font-size: 1.5rem; 
}
.our-story-text p{
 padding: 1rem
}